<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Center of Service</title>

	<!-- Урезанная версия ангулара (это его база): -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>

</head>
<body>
<div style="padding:20px; font-size:20px;">
	<div>
		<form ng-app="cos1app" ng-controller="formCustomer" ng-model="customer" novalidate>
			<table cellpadding="5">
				<tr><td>Customer ID:</td>
					<td><input type="number" ng-model="customer.id" >
					</td>
				</tr>
				<tr><td>Causes:</td>
					<td><select ng-model="customer.cause" >
						<option value="">
						<option value="ONE">ONE
						<option value="TWO">TWO
						<option value="THREE">THREE
						<option value="FOUR">FOUR
						</select>
					</td>
				</tr>
				<tr><td>CosOperations:</td>
					<td><select ng-model="customer.operation" >
						<option value="">
						<option value="MAKE">MAKE
						<option value="SAVE">SAVE
						<option value="PRINT">PRINT
						</select>
					</td>
				</tr>
			</table>
			<p>form = {{customer}}</p>
			<button ng-click="sendRequest (customer)">Send customer info</button>
		</form>
	</div>
	<script>
		angular.module('cos1app', []).controller('formCustomer', function ($scope, $http)
		{
			$scope.sendRequest = function (c)
			{
				$http({
					method : "POST",
					url : "http://localhost:4444/request",
					data: c
				})
				.then(
				function (response)
				{
					console.log (c);
					alert ('Запрос создан.');
				},
				function (response)
				{
					alert ('ОШИБКА!\rНе удалось создать запрос.');
				});
			};
		});
	</script>

<!-- ------ -->

</div>
</body>
</html>
<!-- http://localhost:5555/index.html -->